@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Pretendard', ui-sans-serif, system-ui, sans-serif;
  transition: 0.3s;
}

body {
  background-image: url('/mountain.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100dvh;
  width: 100vw;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
